/* This CSS file contains all styling for the index.html file */
:root {
    --main-color:color(srgb 0 0 0 0 0 0);
    --secondary-color:color-mix(in lch, black, white);
    --highlight-color: hsl(60, 100%, 50%);
}

* {
    color: black
}

.red{
    color: red;
}

.white{
    color: #FFFFFF;
    background-color: black;
}

.green{
    color: rgb(0, 128, 0);
}

#highlight{
    background-color: var(--highlight-color, yellow);
}

h1{
    color: var(--main-color, black);
}

p{
    color: var(--secondary-color, white);
}

/* Default font size for mobile devices */
body {
    font-size: 16px;
}

body > h1 {
    font-size: 100%;
}

p{
    font-size: 5mm;
}

/* Larger font size for desktop devices */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
    body > h1 {
        font-size: 2rem;
    }
    p{
        font-size: .5cm;
    }
}