/* This CSS file contains all styling for the index.html file */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color:color(srgb 0 0 0 0 0 0);
    --secondary-color:color-mix(in lch, black, white);
    --highlight-color: hsl(60, 100%, 50%);
}

* {
    color: black
}

.red{
    color: red;
}

.white{
    color: #FFFFFF;
    background-color: black;
}

.green{
    color: rgb(0, 128, 0);
}

#highlight{
    background-color: var(--highlight-color, yellow);
}

h1{
    color: var(--main-color, black);
}

p{
    color: var(--secondary-color, white);
}

/* Default font size for mobile devices */
body {
    font-size: 16px;
}

body > h1 {
    font-size: 100%;
}

p{
    font-size: 5mm;
}

/* Larger font size for desktop devices */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
    body > h1 {
        font-size: 2rem;
    }
    p{
        font-size: .5cm;
    }
}

/* Box model */
.box {
    margin: 20px;
    padding: 10px;
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    border-radius: 5px;
}

.box-margin-long {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.box-margin-short {
    margin: 20px 10px;
}

.box-auto-margins {
    margin: auto;
}

.box-padding-long {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.box-padding-short {
    padding: 20px 10px;
}

.box-border {
    border-style: dashed;
    border-color: red;
    border-width: 3px;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.position-static {
    position: static;
}

.position-relative {
    position: relative;
    top: 20px;
    left: 20px;
}

.center-text {
    text-align: center;
}

.underline {
    text-decoration: underline;
}